Body {
  Align-Items: Center;
  Display: Flex;
  Min-Height: 100vh;
  Justify-Content: Center;
  Margin: 0;
}

Loading {
  Color: #333333;
  Transform: scale(1.5);
}

Loading>I {
  Color: #0096FA;
  Margin-Right: 5px;
}

#cases-div {
  display: none;
}

table {
  padding: 10px;
}

h1,
td,
p {
  font-family: Courier New, Courier, monospace;
}

h1 {
  font-weight: 500;
}

#cases-hdr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.surgery-case {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #AFDCFA;
}

.clinical-case {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(255, 211, 169);
}

.label {
  font-weight: 900;
  font-family: Courier New, Courier, monospace;
}

.detail_arrow {
  font-size: 25px;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.rotated-arrow {
  transform: rotate(180deg);
}

.expansive-div {
  border-radius: 7px;
  margin-top: 20px;
}

.expansive-sub-div {
  display: none;
}

.expansive-wrapper {
  display: flex;
  width: 100%;
}

.expansive-wrapper table:first-child {
  width: 375px;
}

@media screen and (max-width: 750px) {
  .expansive-wrapper table:first-child {
    width: 300px;
  }
}

@media screen and (max-width: 700px) {
  .expansive-wrapper {
    flex-direction: column;
  }
}

.patient-div,
.procedure-div {
  display: flex;
}

.patient-div {
  margin-right: 10%;
}

.procedure-div {
  padding: 22px 0 32px 0;
}